*{
  box-sizing: border-box;
}
body{
  margin: 0; padding: 50px 0;
  color: rgb(50,50,50);
  background-color: rgb(220,220,220);
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
footer{
  width: 100%; text-align: center;
  padding: 50px 0;
  font-size: 14px;
  color: rgba(100,100,100,1);
}
footer a{
  text-decoration: none;
  color: rgba(100,100,100,1);
}
footer a:hover{
  text-decoration: underline;
}
h1,h2,h3,h4{
  text-align: center;
}
div.title-area{
  padding: 0 50px;
}
a.title-area{
  display: block;
  text-decoration: none;
  padding: 0 50px;
}
div.main{
  padding: 20px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 3px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}

/* desktop */
@media screen and (min-width:900px){
  div.main{
    width: 900px;
  }
  div.content{
    width: 100%;
    padding: 20px 50px;
  }
}/* desktop */
@media screen and (min-width:451px) and (max-width:899px){
  body{
    padding: 2% 0;
  }
  div.main{
    width: 95%;
  }
  div.content{
    width: 100%;
    padding: 20px 50px;
  }
}

/* mobile */
@media screen and (min-width:0) and (max-width:450px){
  body{
    padding: 2% 0;
  }
  div.main{
    width: 95%;
  }
  div.content{
    width: 100%;
    padding: 20px 20px;
  }
}

ol li,ul li{
  padding: 3px;
}
.center{
  width: 100%; text-align: center; padding: 0 0;
}
.italics{
  font-style: italic;
}

ul li, ol li{ list-style: none; }
ul li:before { content: '⚡'; margin-left: -26px; margin-right: 6px; } 
ul li.bolt:before { content: '⚡'; margin-left: -26px; margin-right: 6px; } 
ul li.hashtag:before { content: '#️⃣'; margin-left: -26pm; margin-right: 6px; }
ul li.warning:before { content: '⚠️'; margin-left: -26pm; margin-right: 6px; }
ul li.i:before { content: 'ℹ️'; margin-left: -26pm; margin-right: 6px; }
ol li:nth-child(1):before { content: '1️⃣'; margin-left: -26px; margin-right: 6px; } 
ol li:nth-child(2):before { content: '2️⃣'; margin-left: -26px; margin-right: 6px; } 
ol li:nth-child(3):before { content: '3️⃣'; margin-left: -26px; margin-right: 6px; } 
ol li:nth-child(4):before { content: '4️⃣'; margin-left: -26px; margin-right: 6px; } 
ol li:nth-child(5):before { content: '5️⃣'; margin-left: -26px; margin-right: 6px; } 
ol li:nth-child(6):before { content: '6️⃣'; margin-left: -26px; margin-right: 6px; } 
ol li:nth-child(7):before { content: '7️⃣'; margin-left: -26px; margin-right: 6px; } 
ol li:nth-child(8):before { content: '8️⃣'; margin-left: -26px; margin-right: 6px; } 
ol li:nth-child(9):before { content: '9️⃣'; margin-left: -26px; margin-right: 6px; } 
ol li:nth-child(10):before { content: '🔟'; margin-left: -26px; margin-right: 6px; } 
ul li.arrow:before { content: '👉'; margin-left: -26px; margin-right: 6px; } 

ul.larger{
  font-size: 20px;
}
ul.larger a{
  text-decoration: none;
}
ul.larger a:hover{
  text-decoration: underline;
}

div.divider{
  width: 100%;
  padding: 20px 50px;
}

@media screen and (min-width:0) and (max-width:450px){
  ul.larger{
    font-size: 16px;
  }
  div.divider{
    padding: 5px 50px;
  }
}

div.center{
  display: flex;
  justify-content: center;
}
div.center ul{
  text-align: left;
}
div.divider-line{
  width: 100%;
  height: 1px;
  background-color: rgb(150,150,150);
}

a{
  text-decoration: underline;
  color: rgb(50,50,50);
}