.mobile_header_area{
    display: none;
}

@media screen and (max-width:800px){
    .mobile_header_area{
        display: block;
        position: fixed;
        z-index: 3;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(45,45,45);
        border-bottom: none;
    }
    .header_icon{
        height: 32px; width: 32px;
        filter: invert(100%);
    }
    .mobile_header_middle{
        display: block;
        text-decoration: none;
        font-weight: bold;
        font-size: 26px;
        margin: 10px 0;
    }
    .mobile_header_left{
        display: flex;
        align-items: center;
        padding: 12px;
        cursor: pointer; /* pointless for mobile tho */
    }
    .mobile_header_right{
        padding: 28px; /* acts as counter weight to keep middle in middle */
    }
}